<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<title>Clipping Path Go | Free Trial</title>
   
    <link rel="apple-touch-icon" sizes="180x180"
        href="./assets/favicon.png"" type="image/x-icon">
    <link rel="shortcut icon" href="./assets/favicon.png""
        type="image/x-icon">


    <meta name="description"content="Clipping Path Services Provider | Image & Photo editing services.">

    <meta name="keywords"
        content="image editing, photo editing, photo editor, image editor, image edit, clipping path, editing services, freelancer portfolio, creative photography, graphic designer, graphic design portfolio, logo designer, logo design service, order management system, photo gallery, photo retouch, image masking, colour correction">
    <link rel="canonical" href="https://clippingpathwork.com/">
    <meta property="og:type" content="Clipping Path Services Provider | Image & Photo editing services.">
    <meta property="og:site_name" content="Clipping - Photo Editing">
    <meta property="og:title" content="Clipping - Photo Editing">
    <meta property="og:description"content="Clipping Path Services Provider | Image & Photo editing services.">
    <meta property="og:url" content="https://clippingpathwork.com">
    <meta property="og:image" content="./assets/logo.png">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Clipping-PhotoEditing">
    <meta name="twitter:creator" content="@clippingpathgo">
    <meta name="twitter:url" content="https://clippingpathwork.com">
    <meta name="twitter:title" content="Clipping - Photo Editing">
    <meta name="twitter:description"
        content="Clipping Path Services Provider | Image & Photo editing services.">
    <meta name="twitter:image" content="./assets/logo.png">

    <link rel="stylesheet" href="./assets/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/all.min.css">
    <link rel="stylesheet" href="./stylesheets/style1.css">
    <link rel="stylesheet" href="./assets/flaticon.css">
    <link rel="stylesheet" href="./assets/animate.css">
    <link rel="stylesheet" href="./assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/magnific-popup.css">
    <link rel="stylesheet" href="./assets/twentytwenty.css">
    <link rel="stylesheet" href="./assets/floating-wpp.min.css">
    <link rel="stylesheet" href="./assets/style2.css">
    <link rel="stylesheet" href="./assets/responsive.css">
</head>

<body>

    <%- include('./header.ejs') %>

        <br />

        <div class="contiainer">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-inner">
                        <h2 class="title">Free Trial</h2>
                    </div>
                </div>
            </div>
        </div>



        <section class="trial-offer-area">
            <div class="container">
                <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <input type="hidden" name="_token" value="3ZlUJ0HxChuJAsaK6BzskLxUDlabwic72B7XGdWh">
                    <div class="row">
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="trail-offer-form-wrapper">
                                <div class="trial-offer-header">
                                    <p>Get a quote in 30 minutes...<br></p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="name">Your Name
                                    <span>*</span>
                                </label>
                                <input type="text" id="name" name="name" placeholder="Your Name" value=""
                                    class="input-field borderd" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="email">Email Address
                                    <span>*</span>
                                </label>
                                <input type="email" id="email" name="email" placeholder="Email Address" value=""
                                    class="input-field borderd" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="phone">Phone No
                                </label>
                                <input type="text" id="phone" name="phone" placeholder="Phone No" value=""
                                    class="input-field borderd">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="country">Your Country
                                    <span>*</span>
                                </label>
                                <select id="country" name="country" class="input-field custom-select borderd"
                                    required="">
                                    <option value="">Select One</option>
                                    <option value="Afganistan">Afghanistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Anguilla">Anguilla</option>
                                    <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Aruba">Aruba</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Azerbaijan">Azerbaijan</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Bahrain">Bahrain</option>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Barbados">Barbados</option>
                                    <option value="Belarus">Belarus</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Belize">Belize</option>
                                    <option value="Benin">Benin</option>
                                    <option value="Bermuda">Bermuda</option>
                                    <option value="Bhutan">Bhutan</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Bonaire">Bonaire</option>
                                    <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                    <option value="Botswana">Botswana</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                    <option value="Brunei">Brunei</option>
                                    <option value="Bulgaria">Bulgaria</option>
                                    <option value="Burkina Faso">Burkina Faso</option>
                                    <option value="Burundi">Burundi</option>
                                    <option value="Cambodia">Cambodia</option>
                                    <option value="Cameroon">Cameroon</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Canary Islands">Canary Islands</option>
                                    <option value="Cape Verde">Cape Verde</option>
                                    <option value="Cayman Islands">Cayman Islands</option>
                                    <option value="Central African Republic">Central African Republic</option>
                                    <option value="Chad">Chad</option>
                                    <option value="Channel Islands">Channel Islands</option>
                                    <option value="Chile">Chile</option>
                                    <option value="China">China</option>
                                    <option value="Christmas Island">Christmas Island</option>
                                    <option value="Cocos Island">Cocos Island</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Comoros">Comoros</option>
                                    <option value="Congo">Congo</option>
                                    <option value="Cook Islands">Cook Islands</option>
                                    <option value="Costa Rica">Costa Rica</option>
                                    <option value="Cote DIvoire">Cote DIvoire</option>
                                    <option value="Croatia">Croatia</option>
                                    <option value="Cuba">Cuba</option>
                                    <option value="Curaco">Curacao</option>
                                    <option value="Cyprus">Cyprus</option>
                                    <option value="Czech Republic">Czech Republic</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Djibouti">Djibouti</option>
                                    <option value="Dominica">Dominica</option>
                                    <option value="Dominican Republic">Dominican Republic</option>
                                    <option value="East Timor">East Timor</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="Egypt">Egypt</option>
                                    <option value="El Salvador">El Salvador</option>
                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                    <option value="Eritrea">Eritrea</option>
                                    <option value="Estonia">Estonia</option>
                                    <option value="Ethiopia">Ethiopia</option>
                                    <option value="Falkland Islands">Falkland Islands</option>
                                    <option value="Faroe Islands">Faroe Islands</option>
                                    <option value="Fiji">Fiji</option>
                                    <option value="Finland">Finland</option>
                                    <option value="France">France</option>
                                    <option value="French Guiana">French Guiana</option>
                                    <option value="French Polynesia">French Polynesia</option>
                                    <option value="French Southern Ter">French Southern Ter</option>
                                    <option value="Gabon">Gabon</option>
                                    <option value="Gambia">Gambia</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Germany">Germany</option>
                                    <option value="Ghana">Ghana</option>
                                    <option value="Gibraltar">Gibraltar</option>
                                    <option value="Great Britain">Great Britain</option>
                                    <option value="Greece">Greece</option>
                                    <option value="Greenland">Greenland</option>
                                    <option value="Grenada">Grenada</option>
                                    <option value="Guadeloupe">Guadeloupe</option>
                                    <option value="Guam">Guam</option>
                                    <option value="Guatemala">Guatemala</option>
                                    <option value="Guinea">Guinea</option>
                                    <option value="Guyana">Guyana</option>
                                    <option value="Haiti">Haiti</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="Honduras">Honduras</option>
                                    <option value="Hong Kong">Hong Kong</option>
                                    <option value="Hungary">Hungary</option>
                                    <option value="Iceland">Iceland</option>
                                    <option value="Indonesia">Indonesia</option>
                                    <option value="India">India</option>
                                    <option value="Iran">Iran</option>
                                    <option value="Iraq">Iraq</option>
                                    <option value="Ireland">Ireland</option>
                                    <option value="Isle of Man">Isle of Man</option>
                                    <option value="Israel">Israel</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Jamaica">Jamaica</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Jordan">Jordan</option>
                                    <option value="Kazakhstan">Kazakhstan</option>
                                    <option value="Kenya">Kenya</option>
                                    <option value="Kiribati">Kiribati</option>
                                    <option value="Korea North">Korea North</option>
                                    <option value="Korea Sout">Korea South</option>
                                    <option value="Kuwait">Kuwait</option>
                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                    <option value="Laos">Laos</option>
                                    <option value="Latvia">Latvia</option>
                                    <option value="Lebanon">Lebanon</option>
                                    <option value="Lesotho">Lesotho</option>
                                    <option value="Liberia">Liberia</option>
                                    <option value="Libya">Libya</option>
                                    <option value="Liechtenstein">Liechtenstein</option>
                                    <option value="Lithuania">Lithuania</option>
                                    <option value="Luxembourg">Luxembourg</option>
                                    <option value="Macau">Macau</option>
                                    <option value="Macedonia">Macedonia</option>
                                    <option value="Madagascar">Madagascar</option>
                                    <option value="Malaysia">Malaysia</option>
                                    <option value="Malawi">Malawi</option>
                                    <option value="Maldives">Maldives</option>
                                    <option value="Mali">Mali</option>
                                    <option value="Malta">Malta</option>
                                    <option value="Marshall Islands">Marshall Islands</option>
                                    <option value="Martinique">Martinique</option>
                                    <option value="Mauritania">Mauritania</option>
                                    <option value="Mauritius">Mauritius</option>
                                    <option value="Mayotte">Mayotte</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="Midway Islands">Midway Islands</option>
                                    <option value="Moldova">Moldova</option>
                                    <option value="Monaco">Monaco</option>
                                    <option value="Mongolia">Mongolia</option>
                                    <option value="Montserrat">Montserrat</option>
                                    <option value="Morocco">Morocco</option>
                                    <option value="Mozambique">Mozambique</option>
                                    <option value="Myanmar">Myanmar</option>
                                    <option value="Nambia">Nambia</option>
                                    <option value="Nauru">Nauru</option>
                                    <option value="Nepal">Nepal</option>
                                    <option value="Netherland Antilles">Netherland Antilles</option>
                                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                    <option value="Nevis">Nevis</option>
                                    <option value="New Caledonia">New Caledonia</option>
                                    <option value="New Zealand">New Zealand</option>
                                    <option value="Nicaragua">Nicaragua</option>
                                    <option value="Niger">Niger</option>
                                    <option value="Nigeria">Nigeria</option>
                                    <option value="Niue">Niue</option>
                                    <option value="Norfolk Island">Norfolk Island</option>
                                    <option value="Norway">Norway</option>
                                    <option value="Oman">Oman</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Palau Island">Palau Island</option>
                                    <option value="Palestine">Palestine</option>
                                    <option value="Panama">Panama</option>
                                    <option value="Papua New Guinea">Papua New Guinea</option>
                                    <option value="Paraguay">Paraguay</option>
                                    <option value="Peru">Peru</option>
                                    <option value="Phillipines">Philippines</option>
                                    <option value="Pitcairn Island">Pitcairn Island</option>
                                    <option value="Poland">Poland</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Puerto Rico">Puerto Rico</option>
                                    <option value="Qatar">Qatar</option>
                                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                                    <option value="Republic of Serbia">Republic of Serbia</option>
                                    <option value="Reunion">Reunion</option>
                                    <option value="Romania">Romania</option>
                                    <option value="Russia">Russia</option>
                                    <option value="Rwanda">Rwanda</option>
                                    <option value="St Barthelemy">St Barthelemy</option>
                                    <option value="St Eustatius">St Eustatius</option>
                                    <option value="St Helena">St Helena</option>
                                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                    <option value="St Lucia">St Lucia</option>
                                    <option value="St Maarten">St Maarten</option>
                                    <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                    <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                    <option value="Saipan">Saipan</option>
                                    <option value="Samoa">Samoa</option>
                                    <option value="Samoa American">Samoa American</option>
                                    <option value="San Marino">San Marino</option>
                                    <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                    <option value="Senegal">Senegal</option>
                                    <option value="Seychelles">Seychelles</option>
                                    <option value="Sierra Leone">Sierra Leone</option>
                                    <option value="Singapore">Singapore</option>
                                    <option value="Slovakia">Slovakia</option>
                                    <option value="Slovenia">Slovenia</option>
                                    <option value="Solomon Islands">Solomon Islands</option>
                                    <option value="Somalia">Somalia</option>
                                    <option value="South Africa">South Africa</option>
                                    <option value="Spain">Spain</option>
                                    <option value="Sri Lanka">Sri Lanka</option>
                                    <option value="Sudan">Sudan</option>
                                    <option value="Suriname">Suriname</option>
                                    <option value="Swaziland">Swaziland</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="Switzerland">Switzerland</option>
                                    <option value="Syria">Syria</option>
                                    <option value="Tahiti">Tahiti</option>
                                    <option value="Taiwan">Taiwan</option>
                                    <option value="Tajikistan">Tajikistan</option>
                                    <option value="Tanzania">Tanzania</option>
                                    <option value="Thailand">Thailand</option>
                                    <option value="Togo">Togo</option>
                                    <option value="Tokelau">Tokelau</option>
                                    <option value="Tonga">Tonga</option>
                                    <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                    <option value="Tunisia">Tunisia</option>
                                    <option value="Turkey">Turkey</option>
                                    <option value="Turkmenistan">Turkmenistan</option>
                                    <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                    <option value="Tuvalu">Tuvalu</option>
                                    <option value="Uganda">Uganda</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="Ukraine">Ukraine</option>
                                    <option value="United Arab Erimates">United Arab Emirates</option>
                                    <option value="United States of America">United States of America</option>
                                    <option value="Uraguay">Uruguay</option>
                                    <option value="Uzbekistan">Uzbekistan</option>
                                    <option value="Vanuatu">Vanuatu</option>
                                    <option value="Vatican City State">Vatican City State</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="Vietnam">Vietnam</option>
                                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                    <option value="Wake Island">Wake Island</option>
                                    <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                    <option value="Yemen">Yemen</option>
                                    <option value="Zaire">Zaire</option>
                                    <option value="Zambia">Zambia</option>
                                    <option value="Zimbabwe">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="company">Your Company
                                </label>
                                <input type="text" id="company" name="company" placeholder="Your Company" value=""
                                    class="input-field borderd">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="website">Website URL
                                </label>
                                <input type="url" id="website" name="website" placeholder="Website URL" value=""
                                    class="input-field borderd">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-element margin-bottom-10">
                                <label for="services">Services (Can Choose Multiple)
                                    <span>*</span>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox-element">
                                        <div class="checkbox-wrapper">
                                            <label class="checkbox-inner">Clipping Path
                                                <input type="checkbox" name="services[]" value="1">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-element">
                                        <div class="checkbox-wrapper">
                                            <label class="checkbox-inner">Background Removal
                                                <input type="checkbox" name="services[]" value="2">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-element">
                                        <div class="checkbox-wrapper">
                                            <label class="checkbox-inner">Image Masking
                                                <input type="checkbox" name="services[]" value="3">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-element">
                                        <div class="checkbox-wrapper">
                                            <label class="checkbox-inner">Drop Shadow
                                                <input type="checkbox" name="services[]" value="4">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-element">
                                        <div class="checkbox-wrapper">
                                            <label class="checkbox-inner">Ghost Mannequin
                                                <input type="checkbox" name="services[]" value="5">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-element">
                                        <div class="checkbox-wrapper">
                                            <label class="checkbox-inner">Photo Retouching
                                                <input type="checkbox" name="services[]" value="7">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="form-element margin-bottom-30">
                                <label for="quantity">Total Quantity
                                    <span>*</span>
                                </label>
                                <input type="text" id="quantity" name="quantity" placeholder="Total Quantity" value=""
                                    class="input-field borderd" required="">
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                    <div class="form-element margin-bottom-30">
                        <label for="margin">Margin in (px)
                        </label>
                        <input type="text" id="margin" name="margin" placeholder="Margin in (px)" value="" class="input-field borderd">
                    </div>
                </div> -->
                        <div class="col-md-12">
                            <div class="form-element margin-bottom-30">
                                <label for="message">Additional Comments (optional)</label>
                                <textarea rows="20" id="message" name="message"
                                    placeholder="Type Additional Comments..."
                                    class="input-field textarea borderd"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="return_format">Return File Format
                                    <span>*</span>
                                </label>
                                <select id="return_format" name="return_format"
                                    class="input-field custom-select borderd" required="">
                                    <option value="">Select One</option>

                                    <option value="Illustrator (AI)">Illustrator (AI)</option>
                                    <option value="Illustrator (EPS)">Illustrator (EPS)</option>
                                    <option value="Illustrator (SVG)">Illustrator (SVG)</option>
                                    <option value="JPEG–custom background">JPEG–custom background</option>
                                    <option value="JPEG–original background">JPEG–original background</option>
                                    <option value="JPEG–white background">JPEG–white background</option>
                                    <option value="PDF">PDF</option>
                                    <option value="PNG–custom background">PNG–custom background</option>
                                    <option value="PNG–transparent background">PNG–transparent background</option>
                                    <option value="PNG–white background">PNG–white background</option>
                                    <option value="PSD–custom background">PSD–custom background</option>
                                    <option value="PSD–layer mask">PSD–layer mask</option>
                                    <option value="PSD–original background">PSD–original background</option>
                                    <option value="PSD–transparent background">PSD–transparent background</option>
                                    <option value="PSD–white background">PSD–white background</option>
                                    <option value="TIFF–custom background">TIFF–custom background</option>
                                    <option value="TIFF–layer mask">TIFF–layer mask</option>
                                    <option value="TIFF–original background">TIFF–original background</option>
                                    <option value="TIFF–transparent background">TIFF–transparent background</option>
                                    <option value="TIFF–white background">TIFF–white background</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element margin-bottom-30">
                                <label for="poster">File Upload
                                    <span>*</span>
                                </label>
                                <input type="file" name="file" id="poster"
                                    placeholder="(dropbox, wetransfer, google drive)" value=""
                                    class="input-field borderd" required="">

                                <div class="progress">
                                    <div class="bar"></div>
                                    <div class="percent">0%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-element margin-bottom-30">
                                <label for="pre_delivery_time">Preferred Delivery Time
                                    <span>*</span>
                                </label>
                                <select id="pre_delivery_time" name="pre_delivery_time"
                                    class="input-field custom-select borderd" required="">
                                    <option value="">Select One</option>

                                    <option value="12 Hours">12 Hours</option>
                                    <option value="24 Hours">24 Hours</option>
                                    <option value="2 Days">2 Days</option>
                                    <option value="3 Days">3 Days</option>
                                    <option value="1 Week">1 Week</option>
                                    <option value="Flexible TIme">Flexible TIme</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-md-6"> -->
                        <!-- div class="form-element margin-bottom-30">
                        <label for="where_find">Where Did You Find Us?
                        </label>
                        <select id="where_find" name="where_find" class="input-field custom-select borderd">
                            <option value="">Select One</option>

                                                        <option value="Search engine">Search engine</option>
                                                        <option value="Social media">Social media</option>
                                                        <option value="Promotional email">Promotional email</option>
                                                        <option value="Word of mouth">Word of mouth</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                    </div> -->
                        <!-- </div> -->
                        <div class="col-md-12">
                            <input type="submit" value="Submit Now" class="submit-btn btn-rounded btn-center">
                        </div>

                    </div>
                </form>
            </div>
        </section>


        <%- include('./fooder.ejs') %>
</body>

</html>