
<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<title>Clipping Path Go | Clipping Path Services Provider</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="./assets/favicon.png"" type="image/x-icon">
    <link rel="shortcut icon" href="./assets/favicon.png"" type="image/x-icon">
    <meta name="description"content="Clipping Path Services Provider | Image & Photo editing services.">
    <meta name="keywords"
        content="image editing, photo editing, photo editor, image editor, image edit, clipping path, editing services, freelancer portfolio, creative photography, graphic designer, graphic design portfolio, logo designer, logo design service, order management system, photo gallery, photo retouch, image masking, colour correction">
    <link rel="canonical" href="https://clippingpathgo.com/">
    <meta property="og:type" content="Clipping Path Services Provider | Image & Photo editing services.">
    <meta property="og:site_name" content="Clipping - Photo Editing">
    <meta property="og:title" content="Clipping - Photo Editing">
    <meta property="og:description"content="Clipping Path Services Provider | Image & Photo editing services.">
    <meta property="og:url" content="https://clippingpathgo.com/faqs">
    <meta property="og:image" content="./assets/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Clipping-PhotoEditing">
    <meta name="twitter:creator" content="@clippingpathgo">
    <meta name="twitter:url" content="https://clippingpathgo.com/">
    <meta name="twitter:title" content="Clipping - Photo Editing">
    <meta name="twitter:description" content="Clipping Path Services Provider | Image & Photo editing services.">
    <meta name="twitter:image" content="./assets/logo.png">

    <link rel="stylesheet" href="./assets/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/all.min.css">
    <link rel="stylesheet" href="./stylesheets/style1.css">
    <link rel="stylesheet" href="./assets/flaticon.css">
    <link rel="stylesheet" href="./assets/animate.css">
    <link rel="stylesheet" href="./assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/magnific-popup.css">
    <link rel="stylesheet" href="./assets/twentytwenty.css">
    <link rel="stylesheet" href="./assets/floating-wpp.min.css">
    <link rel="stylesheet" href="./assets/style2.css">
    <link rel="stylesheet" href="./assets/responsive.css">
</head>
        
<body>
<%- include('./header.ejs') %>
<body>

    <!-- main content -->
    
        <!-- breadcumb area start -->
    <section class="breadcrumb-area breadcrumb-bg about">
        <div class="contiainer">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-inner">
                        <h1 class="title">Terms &amp; Conditions</h1>
                        </br></br></br>
                                                            <p align="left">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.<br></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcumb area end -->
    
    
        
    <!-- main content end -->



     <!-- footer area start -->
    <%- include('./fooder.ejs') %>
    <!-- footer area end -->


    <div class="back-to-top">
        <!-- back to top start -->
        <i class="fas fa-rocket"></i>
    </div>
    <!-- back to top end -->


    <!-- jquery -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://hitechparks.com/web/apps/clipping/web/js/jquery.js"></script>
    <!-- popper -->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/bootstrap.min.js"></script>
    <!-- font awesome -->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/all.min.js"></script>
    <!-- owl carousel -->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/jquery.magnific-popup.js"></script>
    <!-- way poin js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/waypoints.min.js"></script>
    <!-- event move js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/jquery.event.move.js"></script>
    <!-- twentytwenty js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/jquery.twentytwenty.js"></script>
    <!-- imagesloaded js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/isotope.pkgd.min.js"></script>
    <!-- wow js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/wow.min.js"></script>
    <!-- counterup js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/jquery.counterup.min.js"></script>
    <!-- whatsapp js-->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/floating-wpp.min.js"></script>
    <!-- main -->
    <script src="https://hitechparks.com/web/apps/clipping/web/js/main.js"></script>

    <!-- Page Js -->
    

    

        <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script type="text/javascript">
        (function($) {
        "use strict";
            
            window.fbAsyncInit = function() {
              FB.init({
                xfbml            : true,
                version          : 'v8.0'
              });
            };

            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        })(jQuery); 
    </script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
        attribution=setup_tool
        page_id="1808009959448230"
        theme_color="#ff9c00"
        logged_in_greeting="Hello, how can we help you?"
        logged_out_greeting="Hello, how can we help you?">
    </div>
    
</body>
</html>